.quill-editor {
    height: 200px;
    width: 100%;
    overflow-y: auto; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.formulario {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
}

.input:focus {
    border-color: #007BFF; 
    outline: none; 
}

.button-container {
    margin-top: 2dvh;
    display: flex; 
    justify-content: space-between;
}

.btnEditar {
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007BFF; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btnEditar:hover {
    background-color: #0056b3; 
}

.btnCancelar {
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: #ccc; 
    color: black; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.2s; 
}

.btnCancelar:hover {
    background-color: #aaa; 
}
